@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
    --colorMain: #783AEE;
    --colorAccent: #FFE42A;
    --backgroundColor: #121212;
    --backgroundColorLevel2: ##222222;
    --backgroundColorLeve3: #333333;

}

/* Default Font, Background and Padding */
body{
    font-size: 100%;
    font-family: 'Josefin Sans', sans-serif;
    background-color: var(--backgroundColor);
    padding: 2rem;
}

/* List and Anchor Reset */

body section header nav ul li a, body section header nav ul{
    font-style: none;
    text-decoration: none;
    list-style: none;
}

/* Default CSS Reset */
* {
    padding: 0;
    margin: 0;
    border: none;
    box-sizing: border-box;
}

/* Section Default */
.full-screen-section{
    width: 100vw;
    height: 100vh;
}

.nav-wrapper{
    justify-content: center;
    display:flex;
    gap: 5rem;
}