@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
    --colorMain: #783AEE;
    --colorAccent: #FFE42A;
    --backgroundColor: #121212;
    --backgroundColorLevel2: ##222222;
    --backgroundColorLeve3: #333333;

}

/* Default Font, Background and Padding */
body{
    font-size: 100%;
    font-family: 'Josefin Sans', sans-serif;
    background-color: var(--backgroundColor);
}

/* List and Anchor Reset */

body section header nav ul li a, body section header nav ul{
    font-style: none;
    text-decoration: none;
    list-style: none;
}

/* Default CSS Reset */
* {
    padding: 0;
    margin: 0;
    border: none;
    box-sizing: border-box;
}

/* Default FlexBox Wrapper */
.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

/* Section Default */
.full-screen-section{
    width: 100%;
    height: 100vh;
    padding: 2rem;
}

/* 📰 START of Landing Section 📰 */

/* NavBar Layout */
.nav-wrapper{
    justify-content: center;
    display:flex;
    gap: 5rem;
}

/* NavBar Style (kind of) */
.nav-item a{
    color: white;
    letter-spacing: 0.33em;
}

/* LandingPage Forced Background Image */
.background-image{
    width: 100%;
    height: 100vh;
    background-image: url("./images/BannerFundo.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -99;
}

/* Responsive Main Logo */
.logo{
    width: clamp(19rem,20vw, 30vw);
    height: auto;
}

/* Responive Main Picture */
.picture{
    width: clamp(24rem, 29vw, 30vw);
    position: absolute;
    bottom: 0;
}

/* 📰 END of Landing Section 📰 */